*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-red,
.game-firered {
  background-color: red;
  color: white;
}
.game-blue {
  background-color: blue;
  color: white;
}
.game-yellow {
  background-color: yellow;
  color: black;
}
.game-gold,
.game-heartgold {
  background-color: gold;
}
.game-silver,
.game-soulsilver {
  background-color: silver;
}
.game-crystal {
  background-color: lightcoral;
}
.game-ruby {
  background-color: darkred;
  color: white;
}
.game-sapphire {
  background-color: darkblue;
  color: white;
}
.game-emerald {
  background-color: aquamarine;
}
.game-leafgreen {
  background-color: green;
  color: white;
}
.game-diamond {
  background-color: cornflowerblue;
  color: white;
}
.game-pearl {
  background-color: crimson;
  color: white;
}
.game-platinum {
  background-color: lightsteelblue;
}
.game-black,
.game-black-2 {
  background-color: black;
  color: white;
}
.game-white,
.game-white-2 {
  background-color: antiquewhite;
}

.type-normal {
  background-color: rgb(156, 155, 110);
}
.type-fighting {
  background-color: rgb(191, 43, 42);
}
.type-flying {
  background-color: rgb(142, 152, 217);
}
.type-poison {
  background-color: rgb(184, 78, 147);
}
.type-ground {
  background-color: rgb(228, 207, 162);
}
.type-rock {
  background-color: rgb(184, 156, 93);
}
.type-bug {
  background-color: rgb(158, 182, 68);
}
.type-ghost {
  background-color: rgb(95, 85, 166);
}
.type-steel {
  background-color: rgb(164, 161, 184);
}
.type-fire {
  background-color: rgb(255, 63, 53);
}
.type-water {
  background-color: rgb(18, 130, 237);
}
.type-grass {
  background-color: rgb(94, 211, 102);
}
.type-electric {
  background-color: rgb(255, 190, 76);
}
.type-psychic {
  background-color: rgb(255, 99, 151);
}
.type-ice {
  background-color: rgb(45, 199, 222);
}
.type-dragon {
  background-color: rgb(127, 88, 225);
}
.type-dark {
  background-color: rgb(110, 80, 71);
}
.type-fairy {
  background-color: rgb(255, 172, 238);
}
